# ST IT Cloud - Data and Analytics Test LV.4

Esse teste deve avaliar alguns conceitos de big data e a qualidade técnica na manipulacão de dados, otimização de performance, trabalho com arquivos grandes e tratamento de qualidade.

## Passo a passo

- *Parte teórica:* responda as questões abaixo preenchendo as células em branco.
- *Parte prática:* disponibilizamos aqui 2 cases para, leia os enunciados dos problemas, desenvolver os programas, utilizando a **stack definida durante o processo seletivo**, para entregar os dados de acordo com os requisitos descritos abaixo.



**Faz parte dos critérios de avaliacão a pontualidade da entrega. Implemente até onde for possível dentro do prazo acordado.**

**Os dados de pessoas foram gerados de forma aleatória, utilizando a biblioteca FakerJS, FakerJS-BR e Faker**

LEMBRE-SE: A entrega deve conter TODOS os passos para o avaliador executar o programa (keep it simple).

**Questão 1** - Descreva de forma detalhada quais são as etapas na construção de um pipeline de dados, sem considerar ferramentas específicas, imagine que é seu primeiro contato com o cliente e você precisa entender a demanda dele e explicar quais são os passos que você terá que implementar para entregar a demanda.

Cliente XPTO para entregarmos as informações com perfomance e com qualidade precisamos construir um pipeline de dados que constitui em:
1: Levantamento e extração das origens dos seus dados, quais são os softwares, planilhas e sensores que geram os dados
2: Transformar e limpar os dados obtidos, os dados não vem pronto para serem transformados em informações. Imagine que no software ou planilha tenhamos um campo aberto para digitar cpf, algumas pessoas digitam usando separadores outras não, nome com acentos outros não, até mesmo campos que deveriam ser preenchidos mas se encontram vazios.
3: Parte final precisamos armazenar de acordo com a arquiquetura definida, para facilitar ja entregamos em tabelas, prontas para serem consultadas e gerar informação para seu negócio.

**Questão 2** - Defina com suas palavras um processamento em streaming e processamento em batch. Qual sua experiência com cada uma delas.

Batch: Processamento em lote, dados de um dia inteiro de vendas por exemplo, carregados em um determinado intervalo, de hora em hora, diario, semanal, mensal...
Atualmente meus pipelines são unicamentes em batch, não tive demanda ainda com streaming. Apenas no curso que fiz pela coursera do GCP. 
Streaming: Dados processados em tempo real ou proximo do tempo real, geralmente dados de sensores ou transações bancarias.

**Questão 3** - Quais são as camadas de um Data Lake?

Bronze - Dados brutos
Prata - Dados pré processados
Ouro - Dados prontos para serem consumidos

**Questão 4** - Quais as diferenças de um Data Lake e um DW?

Data lake é o repositório de dados da empresa, onde podem ser armazenados qualquer tipo de dados, fotos, arquivos json, planilhas, parquet etc.
DW é quando os dados ja estão processados, prontos gerarem valor ao negocio de forma rapida e pratica.

**Questão 5** - O que é arquitetura Lambda e Kappa? Descreva com suas palavras.

Arquitetura lambda, possui duas camadas para processar os dados obtidos de origens, camada batch e streaming
Arquitetura kappa trata todos os dados como eventos imutaveis e processados em uma camada unica

**Questão 6** - O que é Data Quality para você e como você implementa isso nos seus processos?

Para mim, data quality é garantir fidelidade e integridade das informações. Atualmente uso muito um step dentro da ferramenta de ETL pentaho que valida o schemas e alguns parametros definidos para as colunas do meu pipeline.
Quando necessário, tambem utilizo a biblioteca pandera no python para realizar a mesma validação.

**Questão 7** - Em uma escala de 0 a 10, qual seria seu nível de experiência com PySpark?

Escala 7, no banco hoje utilizamos poucas vezes. Dedico meu tempo vago para estudar PySpark na academia de ensino da Data Bricks.

**Questão 8** - Em uma escala de 0 a 10, qual seria seu nível de experiência com SQL?

Escala 10

**Questão 9** - Descreva suas expeciências com banco de dados SQL e NoSQL.

Em SQL são anos de experiencia com consultas, CTE, procedures, views e tambem me arrisco em tunnings.
Em NoSQL utlizei apenas um projeto no banco após realizar um curso na Dany Academy, basicamente apenas utilizando find para consultar dados do cliente e do recebedor do pagamento do boleto.

**Questão 10** - Tem experiência com versionamento de código? Com quais ferramentas já trabalhou? Descreva.

Apenas github e AzureDevOps. Mantendo meus ETL em python ou pentaho.

**Questão 11** - Tem experiência em desenvolvimento em cloud? Se sim, especifique a(s) plataforma(s) que já trabalhou e suas principais implementações e conhecimentos em cada serviço.

Apenas cursos. GCP pela coursera e AWS seguindo arquitetura por eles e curso apartado udemy.
Nos cursos GCP aprendi, BigQuery, cloud sql, cloud storage, cloud spanner, PubSub, CloudFirestore, DataStudio.
Em AWS aprendi sobre os serviços Glue, Athena, S3, RedShift, EMR e Kinesis.

**Questão 12** - Tem experiência com metodologia ágil? Qual?

desde que entrei no banco modal utilizamos SCRUM e utilizo OKRs em algumas coisas pessoais e profissionais.

# TESTE PRÁTICO

**Problema 1**: Você está recebendo o arquivo 'dados_cadastrais_fake.csv' que contem dados cadastrais de clientes, mas para que análises ou relatórios sejam feitos é necessário limpar e normalizar os dados. Além disso, existe uma coluna com o número de cpf e outra com cnpj, você precisará padronizar deixando apenas dígitos em formato string (sem caracteres especiais), implementar uma forma de verificar se tais documentos são válidos sendo que a informação deve se adicionada ao dataframe em outras duas novas colunas.

Após a normalização, gere reports que respondam as seguintes perguntas:
- Quantos clientes temos nessa base?
- Qual a média de idade dos clientes?
- Quantos clientes nessa base pertencem a cada estado?
- Quantos CPFs válidos e inválidos foram encontrados?
- Quantos CNPJs válidos e inválidos foram encontrados?

Ao final gere um arquivo no formato csv e um outro arquivo no formato parquet chamado (problema1_normalizado), eles serão destinados para pessoas distintas.

*EXTRA:* executar as mesmas validações no *1E8.csv.gz

# Instalar a biblioteca validate-docbr se não tiver instlada: pip install validate-docbr

In [146]:

import pandas as pd
import re
import validate_docbr as docbr
from validate_docbr import CPF
from validate_docbr import CNPJ

cpf = CPF()
cnpj = CNPJ()
df = pd.read_csv('dados_cadastrais_fake.csv', sep=';')

# Removendo caracteres especiais das colunas cpf e cnpj

In [147]:

df.replace(to_replace=r'[^a-zA-Z0-9áéíóúÁÉÍÓÚâêîôÂÊÎÔãõÃÕçÇ: ]', value='', regex=True, inplace=True)

# Normalizando dados da coluna estado

In [148]:
df.replace(['sao  paulo', 'são  paulo'], 'SP',   inplace=True)
df.replace(['rio de  janeiro '], 'RJ',   inplace=True)
df.replace(['MINAS GERAI', 'MINAS GERAIs'], 'MG',   inplace=True)
df.replace(['distrito federal'], 'DF',   inplace=True)

In [149]:
df['estado'].unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [150]:
df['cpf_valido'] = df['cpf'].apply(cpf.validate)
df['cnpj_valido'] = df['cnpj'].apply(cnpj.validate)

# Quantos clientes temos nessa base?

In [151]:
df['nomes'].count()

10000

# Qual a média de idade dos clientes?

In [152]:
df['idade'].mean()

53.7831

# Quantos clientes nessa base pertencem a cada estado?

In [153]:
df.groupby('estado')['nomes'].nunique()

estado
AC    365
AL    362
AM    360
AP    365
BA    364
CE    364
DF    361
ES    359
GO    365
MA    364
MG    360
MS    361
MT    365
PA    361
PB    366
PE    362
PI    363
PR    362
RJ    362
RN    359
RO    363
RR    362
RS    360
SC    361
SE    363
SP    363
TO    363
Name: nomes, dtype: int64

# Todos Cpfs e Cnpj são válidos

In [154]:
df[df["cpf_valido"] == False].count()

nomes          0
idade          0
cidade         0
estado         0
cpf            0
cnpj           0
cpf_valido     0
cnpj_valido    0
dtype: int64

In [155]:
df[df["cnpj_valido"] == False].count()

nomes          0
idade          0
cidade         0
estado         0
cpf            0
cnpj           0
cpf_valido     0
cnpj_valido    0
dtype: int64

# Salvando em csv

In [156]:
df.to_csv('problema1_normalizado.csv')

# Salvando em parquet

In [157]:
df.to_parquet('df.parquet.gzip', compression='gzip')
pd.read_parquet('df.parquet.gzip')

,nomes,idade,cidade,estado,cpf,cnpj,cpf_valido,cnpj_valido
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526,True,True
1,Leah Becker,42,ÁGUA BRANCA,AL,42526380707,25673336235020,True,True
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989,True,True
3,Colleen Duncan,21,SERRA DO NAVIO,AP,25253156003,19062080510098,True,True
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384,True,True
...,...,...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,74482262234,16740076932975,True,True
9996,Lisa Parrish Jr,73,Brasília,DF,10683395190,32246978843482,True,True
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,53822363804,86601303758088,True,True
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648,True,True
9999,Mr Joseph Wilson MD,50,AÇAILÂNDIA,MA,19213449208,08908871516191,True,True

**Problema 2**: Você deverá implementar um programa, para ler, tratar e particionar os dados.

O arquivo fonte está disponível em `https://st-it-cloud-public.s3.amazonaws.com/people-v2_1E6.csv.gz`

### Data Quality

- Higienizar e homogenizar o formato da coluna `document`
- Detectar através da coluna `document` se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação
- Higienizar e homogenizar o formato da coluna `birthDate`
- Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas? 
- Corrigir os dados com as colunas trocadas
- Além desses pontos, existem outras tratamentos para homogenizar esse dataset. Aplique todos que conseguir.

### Agregação dos dados

- Quais são as 5 PF que mais gastaram (`totalSpent`)? 
- Qual é o valor de gasto médio por estado (`state`)?
- Qual é o valor de gasto médio por `jobArea`?
- Qual é a PF que gastou menos (`totalSpent`)?
- Quantos nomes e documentos repetidos existem nesse dataset?
- Quantas linhas existem nesse dataset?

### Particionamento de dados tratados com as regras descritas em `DATA QUALITY`

- Particionar em arquivos PARQUET por estado (`state`)
- Particionar em arquivos CSV por ano/mes/dia de nascimento (`birthDate`)